<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration, Version=1.2.0.0,
                 Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="OsoFx.NavigationSteps" type="OsoFramework.NavigationConfiguration, OsoFramework"/>
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Logs\Oso.log.txt"></param>
      <param name="AppendToFile" value="true"></param>
      <param name="RollingStyle" value="Size"></param>
      <param name="MaxSizeRollBackups" value="10"></param>
      <param name="MaximumFileSize" value="10MB"></param>
      <param name="StaticLogFileName" value="true"></param>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>      
    </appender>
    <logger name="ErrorLogger">
      <level value="ERROR" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <unity>
  <containers>
    <container>
       <types>
        <!-- Object with injection parameters defined in configuration -->
        <!-- Type mapping using aliases defined above -->
        <type type="OsoFramework.IDataRepository, OsoFramework"
              mapTo="OsoExamples.DatabaseSchema.RealEstateDataRepository, OsoExamples" 
              name="RealEstateRepository">
        </type>
        
        <type type="OsoFramework.IWebRobot, OsoFramework"
                  mapTo="OsoExamples.Robot.RealEstateExample, OsoExamples" 
                  name="OsoExampleUno">
        <typeConfig 
        extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
            <property 
            name="DatabaseRepository" 
            propertyType="OsoExamples.DatabaseSchema.RealEstateDataRepository, OsoExamples"  />
          </typeConfig>          
        </type>
      </types>
    </container>
  </containers>
  </unity>
 <connectionStrings>
   <add name="Test" 
         connectionString="Data Source=C:\Test.db" 
         providerName="System.Data.SQLite"/>
 </connectionStrings>
  <appSettings>
    <add key="RobotKeyRange" value="bar"/>
    <add key="RobotKeyRange.Nivel2" value="bar"/>
    <add key="OsoFx.RobotIdleTimeInMinutes" value="3" />
    <add key="OsoFx.RobotConnectionLimit" value="10" />
    <add key="OsoFx.RobotMaxServicePoints" value="20"/>
    <add key="OsoFx.RobotKeepAlive" value="true"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <OsoFx.NavigationSteps>
    <steps>
    <add name="start" query="http://sv.elmundo.es/sv/home.html" responseEncoding="ISO-8859-15" />
    <add name="provincia" query="http://sv.elmundo.es{0}" responseEncoding="ISO-8859-15" />
    </steps>
    </OsoFx.NavigationSteps>
</configuration>